/*
common:
*/


 td, input, textarea, select, button {
	color: #333;
	font: 12px Tahoma,Arial, sans-serif;
	line-height:16px;
}


input, textarea, select, button{
	vertical-align:middle;
}

body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin: 0;
	padding: 0;
}


img{
    vertical-align:middle; border:0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

h1{
	line-height:37px;
	height:37px;
	padding-left:20px;
	background:url("./qrx/h1-bg.gif") repeat-x;
	color:#006aad;
	border:1px solid #c5e2f2;
	border-bottom:0;
	font-size:14px;
	font-weight:normal;
}
h1 span{
	float:right;
	background:url("./qrx/h1.gif") no-repeat right;
	padding:10px 12px 0 0;
	font-weight:normal;
}
a {
	color: #22ac38;
	text-decoration: none;
}
a:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
	height:10px;
}
.input{
    border:1px solid #94c6e1;
	background:#fff;
	color:#22ac38;
	font-weight:bold;
	padding:5px;
	margin-bottom:5px;

}
.input1{
    border:1px solid #7f9db9;
	background:#fff;
	color:#333;
	font-weight:bold;
	padding:3px 5px;
	margin-bottom:5px;

}

.but{
    border:1px solid #c5e2f2;
	background:#cde4f2 url('./qrx/but.gif') repeat-x 50% top;
	height:30px;
	margin-left:5px;
	cursor: pointer;
    overflow:visible;
	padding:0 15px;
	margin-bottom:5px;
}
.but1{
    border:1px solid #7f9db9;
	background:#f0f7fd;
	height:23px;
	margin-left:5px;
	cursor: pointer;
    overflow:visible;
	padding:0 15px;
	margin-bottom:5px;
}
/*
wrap:
*/
.wrap {
	margin: auto;
	width: 900px;
	clear:both;
}

/*
top:
*/
.top-nav {
	position:relative;
	margin: auto;
	height: 30px;
	line-height:30px;
	color:#ddd;
}

.top-menu {
	margin: auto;
	height: 30px;
	line-height:30px;
	padding-right:20px;
	color:#ddd;
	float:right;
}

.top-menu a {
		color:#555;
}

.top-menu a:hover {
		color:#22ac38;
	}	
	
.top-nav-logo{
	background: url("./qrx/top-nav-logo.gif") no-repeat left;
	height:30px;
	width:175px;
}	

.top {
	position:relative;
	background: url("./qrx/logo.gif") no-repeat left;
	height:73px;
}

.top640-480 {
	float:right;
	position:absolute;
	right:0;
	top:8px;
}
/*
menu:
*/
.menu {
	margin: auto;
	background: url("./qrx/menu-bg.gif") repeat-x left;
	text-align:center;
	height: 45px;
	line-height:42px;
	padding-left:40px;
	margin-bottom:10px;
}
.menu a {
	color:#fff;
	padding:0 13px;
	display:block;
	float:left;
}
.menu a:hover {
	color:#f39800;
}	

.menu .select {
	background: url("./qrx/s-menu-bg.gif") repeat-x right top;
	padding-right:15px;
}	

/*
sub_menu:
*/
div.menu {
}
div.menu-list {
    position: absolute;
    width: 100px;
    padding: 0 0 5px;
    display: none;
    background: #fff;
    border: 1px solid #d6d6d6;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
div.menu-list ul,
div.menu-list ul li {
    padding: 0;
    margin: 0;
}
div.menu-list ul li {
    margin: 5px 5px 0;
    list-style-type: none;
}
div.menu-list ul li a {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
div.menu-list ul li a span {
    display: block;
    width: 100%;
    height: 100%;
}
div.menu-list ul li a:hover {
	color: #fff;
    background: #5d98d4 url('./qrx/bg-left.jpg') no-repeat 0 0;
}
div.menu-list ul li a:hover span {
    background: transparent url('./qrx/bg-right.jpg') no-repeat right top;
}

/*
foot:
*/	
.bot-nav {
	clear:both;
	border:1px solid #bbd7e6;
	background:#fff;
	text-align:center;
	line-height:32px;
	color:#ddd;
}
.bot-nav a{
		color:#0269ac;
}	
.foot {
	clear:both;
	height:40px;
	padding:10px 0;
	color:#888;
	text-align:center;
}
.foot a {
		color:#0269ac;
}

/*
box;
*/
.box1 {
	background:#fff url("./qrx/box1-bg.gif") repeat-x left top;
	border:1px solid #bbd7e6;
	border-top:0;
	padding:10px 15px;
	line-height:30px;
	margin-bottom:8px;
}
.info2 {
	line-height:22px;
	color:#333;
	display:block; 
	padding-right:60px;
}
	.info2 p{
		margin-bottom:10px;
		text-indent:24px;
		line-height:18px;
	width: 848px;
}
	.info2 a{
		margin-right:3px;
	}
.info1 {
	line-height:26px;
	color:#777;
	display:block; 
	padding:15px 0;
}

.box {clear:both;}


/*
CssDesigner:
*/
input{height:20px;border:1px solid #999999;}
.QrEditor .QrEditBox {
	BORDER-RIGHT: #cc8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cc8 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cc8 1px solid; WIDTH: 350px; PADDING-TOP: 5px; BORDER-BOTTOM: #cc8 1px solid; BACKGROUND-COLOR: #ffc
}
.QrEditor .QrEditSwitchHover {
	BORDER-RIGHT: #33a 1px solid; BORDER-TOP: #33a 1px solid; BORDER-LEFT: #33a 1px solid; WIDTH: 10px; CURSOR: pointer; BORDER-BOTTOM: #33a 1px solid; BACKGROUND-COLOR: #ddd
}
.QrEditor .QrEditSwitch {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 10px; CURSOR: pointer; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ddd
}
.QrEditor .QrEditSwitchSelected {
	BORDER-RIGHT: #a33 1px solid; BORDER-TOP: #a33 1px solid; BORDER-LEFT: #a33 1px solid; WIDTH: 10px; CURSOR: pointer; BORDER-BOTTOM: #a33 1px solid; BACKGROUND-COLOR: #daa
}
.QrEditor .QrToolBar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.QrEditor .QrStyleBox {
	FLOAT: right; WIDTH: 150px; LINE-HEIGHT: 150%
}
.QrEditor .QrAddStyleBox {
	CLEAR: both; BORDER-RIGHT: pink 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: pink 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; BORDER-LEFT: pink 1px solid; WIDTH: 300px; PADDING-TOP: 5px; BORDER-BOTTOM: pink 1px solid; BACKGROUND-COLOR: #edd
}
.QrEditor .QrAddBox {
	CLEAR: both; BORDER-RIGHT: pink 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: pink 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; BORDER-LEFT: pink 1px solid; WIDTH: 150px; PADDING-TOP: 5px; BORDER-BOTTOM: pink 1px solid; BACKGROUND-COLOR: #edd
}
.QrEditor .QrInline {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.QrEditor .QrBlock {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.QrEditor {
	WIDTH: 98%
}
.QrEditorArea {
	FONT-FAMILY: sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white
}
.QrEditorArea .QrTab {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: white 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; BORDER-LEFT: white 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: white 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.QrEditorArea .QrTabSelected {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: white 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; BORDER-LEFT: white 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: white 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.QrEditorArea .QrTabDivider {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0px solid; BORDER-LEFT: white 0px solid; WIDTH: 1px; BORDER-BOTTOM: white 1px solid; HEIGHT: 20px
}
.QrEditorArea .QrTabSpacer {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0px solid; BORDER-LEFT: white 0px solid; WIDTH: 50%; BORDER-BOTTOM: white 1px solid; HEIGHT: 20px
}
.QrEditorArea .QrMain {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 10pt; PADDING-BOTTOM: 7px; WIDTH: 700px; PADDING-TOP: 7px
}
.QrEditorArea .QrLabel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; WIDTH: 700px; PADDING-TOP: 3px; BACKGROUND-COLOR: #eedddd
}
.QrEditorArea .QrLoading {
	COLOR: #555; TEXT-ALIGN: center
}
.QrEditorArea .QrAnotation {
	COLOR: #555
}
.QrTitle {
	FONT-SIZE: 18pt; FONT-FAMILY: Impact;
}
.QrDescription {
	FONT-SIZE: 14pt
}

.QrPulldown {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.QrPulldownButton {
	MARGIN-LEFT: 2px; POSITION: relative
}
.QrPulldownInput {
	PADDING-LEFT: 2px; HEIGHT: 22px
}
.QrPulldownFCMenu {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; Z-INDEX: 2; BACKGROUND-IMAGE: url(./qrx/cssDesigner/pulldownfc-back.gif); BORDER-LEFT: gray 1px solid; WIDTH: 400px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; BACKGROUND-COLOR: #eee
}
.QrPulldownMenu {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; Z-INDEX: 2; BACKGROUND-IMAGE: url(./qrx/cssDesigner/pulldown-back.gif); BORDER-LEFT: gray 1px solid; WIDTH: 200px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; BACKGROUND-COLOR: #eee
}
.QrPulldownItemHover {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #336699 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #F3F8FC
}
.QrPulldownItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 95%; PADDING-TOP: 3px
}

.QrCSSDesignerPad{ width:100%;}
.QrCSSDesignerPadLeft{ width:70px; }
